# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore Django migration files
backend/almatygo/migrations/

# Ignore environment files
*.env

# Ignore Angular build output
/dist/
/build/
/node_modules/

# Ignore IDE and OS specific files
.vscode/
.idea/
.DS_Store

# Ignore log files
*.log

# Ignore npm package-lock
package-lock.json