.page {
  padding: 20px;
}

.place-image {
  width: 100%;
  max-width: 500px;
  border-radius: 12px;
  margin-bottom: 20px;
}

.form-block {
  margin-bottom: 16px;
}

textarea,
input {
  width: 100%;
  padding: 10px;
}

.counter {
  display: flex;
  gap: 12px;
  align-items: center;
}

.error-msg {
  color: red;
}

.success-msg {
  color: green;
}